# has to be a 32-byte base64 key (generate one using: openssl rand -base64 32)
FOLIO_TOKEN=changeme

FOLIO_DATA_DIR=/data
FOLIO_HOST=0.0.0.0
FOLIO_HOST_PORT=8080
FOLIO_PORT=8080
FOLIO_MAX_BODY=33554432
RUST_LOG=info

FOLIO_BACKUP_ENABLED=true
FOLIO_BACKUP_DIR=/backups
FOLIO_BACKUP_INTERVAL=24h
FOLIO_BACKUP_ON_START=true
FOLIO_BACKUP_RETENTION=7
